/* //////////////////////////////////// HEADER ////////////////////////////////////*/
#flip {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

#flip-label {
  position: relative;
}

.pfes-header {
  background-image: linear-gradient(
    to top,
    rgba(0, 123, 255, 0.12),
    #ffffff 50%
  );
  border-top: 1px solid #ebebeb;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.pfes-header-info {
  display: flex;
}
@media (max-width: 1200px) {
  .pfes-header-info {
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .pfes-header-info {
    flex-flow: row;
    justify-content: center;
    text-align: left;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 1rem;
  }
}
@media (max-width: 991px) {
  .pfes-header-info {
    text-align: center;
  }
}

.pfes-header-logo {
  width: 6rem;
  height: auto;
  margin-right: 2rem;
  margin-left: 1rem;
}
@media (max-width: 1200px) {
  .pfes-header-logo {
    width: 5rem;
  }
}
@media (max-width: 500px) {
  .pfes-header-logo {
    position: absolute;
    width: 70%;
    height: auto;
    top: 10rem;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 0;
    opacity: 0.1;
  }
}

.pfes-header-text {
  max-width: 50rem;
  z-index: 5;
}
@media (max-width: 1200px) {
  .pfes-header-text {
    max-width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.pfes-header-name {
  border-bottom: 1px solid #007bff;
  margin-bottom: 0.5rem;
}

.pfes-header-back {
  background-image: linear-gradient(
    to top left,
    rgba(50, 149, 255, 0.4),
    rgba(50, 149, 255, 0.9) 60%
  );
  border-bottom: 1px solid #ebebeb;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.pfes-header-back-fix {
  width: 100%;
  height: 100%;
}

/*- Card container -*/
.pfes-card-container {
  position: relative;
  z-index: 1;
  height: 8.5rem;
  -webkit-perspective: 3000px;
  perspective: 3000px;
}
@media (max-width: 1700px) {
  .pfes-card-container {
    height: 9rem;
  }
}
@media (max-width: 1400px) {
  .pfes-card-container {
    height: 11.5rem;
  }
}
@media (max-width: 1200px) {
  .pfes-card-container {
    height: 14rem;
  }
}
@media (max-width: 991px) {
  .pfes-card-container {
    height: 20rem;
  }
}
@media (max-width: 575px) {
  .pfes-card-container {
    height: 30rem;
  }
}
@media (max-width: 550px) {
  .pfes-card-container {
    height: 32rem;
  }
}

/*- Card body -*/
.pfes-card-body {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 0.25s ease-in-out;
}

/*- Flipping the card -*/
#flip:checked ~ .pfes-card-container > .pfes-card-body {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
@media (max-width: 575px) {
  #flip:checked ~ .pfes-card-container > .pfes-card-body {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

#flip:checked ~ .pfes-card-container > .pfes-card-body > .side-front {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease-in, visibility 0.75s ease-in-out;
}

/*- Card sides -*/
.pfes-card-side {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: #212121;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 10px 35px rgba(50, 50, 93, 0.1), 0 2px 15px rgba(0, 0, 0, 0.07);
}

/*- Front side -*/
.side-front [class^="col-xs"]:first-of-type {
  padding-left: 0;
}

/*- Back side -*/
.side-back {
  z-index: 2;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
@media (max-width: 575px) {
  .side-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

#particles canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
