.App {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;

  /* border: 1px solid magenta; */
}

.Main {
  /* border: 1px solid magenta; */
}

a {
  cursor: pointer;
}

body {
  overflow-y: scroll;
  background-image: url(./img/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
