.App {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;

  /* border: 1px solid magenta; */
}

a {
  cursor: pointer;
}

/* //////////////////////////////////// TYPOGRAPHY //////////////////////////////////// */
body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 300;
}

/* //////////////////////////////////// SCROLLBAR //////////////////////////////////// */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* //////////////////////////////////// ANIMATIONS //////////////////////////////////// */
.fade-in {
  animation-name: fadeFromTop;
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
}

.fade-in-2 {
  animation-name: fadeFromTop2;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
}

@keyframes fadeFromTop {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeFromTop2 {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 720px) {
  .mobile-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

/* //////////////////////////////////// PRINT CLASSES //////////////////////////////////// */
.pfes-print-element {
  display: none;
}

@media only print {
  .pfes-print-element {
    margin-top: 1rem;
    display: block;
  }

  .pfes-print-hide {
    display: none;
  }

  .pfes-print-container {
    margin-top: 2rem;
  }
}

/* //////////////////////////////////// NAVBAR ////////////////////////////////////*/
.pfes-navbar {
  background-image: url(./img/header-bg.png);
  border-bottom: 2px solid #dee2e6;
}

/* //////////////////////////////////// HEADER ////////////////////////////////////*/
.pfes-header {
  background-image: linear-gradient(
    to top,
    rgba(0, 123, 255, 0.12),
    rgba(0, 123, 255, 0.02) 30%,
    #ffffff 90%
  );
  border-top: 1px solid #ebebeb;
}

.pfes-header-info {
  display: flex;
}

@media (max-width: 992px) {
  .pfes-header-info {
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
  }
}

.pfes-header-logo {
  width: 6rem;
  height: auto;
  margin-right: 2rem;
  margin-left: 1rem;
}

.pfes-header-text {
  width: 20rem;
}

@media (max-width: 992px) {
  .pfes-header-text {
    max-width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.pfes-header-name {
  border-bottom: 1px solid #007bff;
  margin-bottom: 0.5rem;
}
