.Footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 8rem;
}

@media (max-width: 500px) {
  .Footer {
    flex-flow: column;
    text-align: center;
    align-items: center;
  }
}
