.clocks-container {
  display: flex;
}

@media (max-width: 1400px) {
  .clocks-container {
    flex-flow: column;
  }
}

@media (max-width: 767px) {
  .clocks-container {
    align-items: center;
    margin-top: 1rem;
    /* border: 1px solid magenta; */
  }
}

.clocks-col-1 {
  margin-right: 1rem;
}

@media (max-width: 767px) {
  .clocks-col-1 {
    margin-right: 0;
    /* width: 15rem; */
  }

  .clocks-col-2 {
    /* width: 15rem; */
  }
}

.clock-box {
  display: flex;
  align-items: center;
}

.clock-item {
  margin-left: 0.5rem;
}
